**/terragrunt-debug.tfvars.json
*.zip
*.pem
.DS_Store
.aws-sam/
.idea/
.pytest_cache/
.terraform.lock.hcl
.terraform/
.terragrunt-cache/
.vs/
__pycache__
**/__pycache__
python-tmp/
.venv/
.vscode/
pytest.ini
*.log
*.tfstate
*.backup